    <div class="sidebar" data-color="green" data-background-color="white" style="background-color: #14794F;">
      <div class="logo">
        <a target="_blank" rel="noopener noreferrer" 
           href="https://appseed.us/admin-dashboards/django-dashboard-material" class="simple-text logo-normal"
           style="color: white; font-weight: bold;">
          KDT
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">

          <li class="nav-item {% if 'enroll' in segment %} active {% endif %}">
            <a class="nav-link" href="/enroll.html">
              <i class="material-icons">dashboard</i>
              <p>Enroll</p>
            </a>
          </li>
          <li class="nav-item {% if 'sign-in' in segment %} active {% endif %}">
            <a class="nav-link" href="/sign-in.html">
              <i class="material-icons">person</i>
              <p>Sign in</p>
            </a>
          </li>       

        </ul>
      </div>

    </div>
