{% extends "layouts/base.html" %}

{% block title %} Page User {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>

    #say-something, #tryagain-note {
		color: #000000;
		font-size: 25px;
		font-weight: bold;
		margin-top: 10px;
		margin-bottom: 10px;
    }

	#signin-img {
		cursor: pointer;
	}

</style>
{% endblock stylesheets %}

{% block content %}

{% if signinUsername %}

<div id="before-username">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="card-header card-header-primary" style="height: 250px; text-align: center; width: 50%;">
				<form role="form" method="POST" action="signin-check-username">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input id="signin-username" name="signin-username" type="text" class="form-control" placeholder="Username" required>
							</div>
						</div>
					</div>
					<br />
					<button style="background-color: #14794F; width: 100%;" id="signin-submit" type="submit" name="signin-submit" class="btn btn-primary pull-left" value="voice">
						Sign in by voice
					</button>
					<button style="background-color: #14794F; width: 100%;" id="signin-submit" type="submit" name="signin-submit" class="btn btn-primary pull-left" value="password">
						Sign in by password
					</button>
					<br /> <br /> <br />
					<div class="clearfix" id="signin-noti" style="text-align: left;">
						{{msg | safe}}
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% elif signinVoice %}

<div id="after-username">
    <div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="card card-stats">
			<div class="card-header card-header-warning card-header-icon" style="height: 500px; text-align: center;">
				<p class="card-category" id="say-something">Say Something To Be Recognised</p>
				<img id="signin-img" src="../../static/assets/img/mic.PNG" style="width: 20%;" />
				<p class="card-category" id="tryagain-note"></p>
			</div>
			</div>
		</div>
    </div>
</div>

{%elif signinPassword %}

<div id="password-required">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="card-header card-header-primary" style="height: 250px; text-align: center; width: 50%;">
				<form role="form" method="POST" action="signin-check-password">
					<div class="row">
						<div class="col-md-12">
							<input name="username" type="hidden" value="{{ username }}" />
							<div class="form-group">
								<input id="pwd-password" name="pwd-password" type="password" class="form-control" placeholder="Password" required>
							</div>
						</div>
					</div>
					<br />
					<button style="background-color: #14794F;" id="pwd-submit" type="submit" name="pwd" class="btn btn-primary pull-left">Sign in</button>
					<br /> <br /> <br />
					<div class="clearfix" id="pwd-noti" style="text-align: left;">
						{{msg | safe}}
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{%elif signinDone %}

<div id="done">
    <div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="card card-stats">
				<div class="card-header card-header-warning card-header-icon" style="height: 500px; text-align: center;">
					<p id="say-something" class="card-category">Welcome, {{ username }}!</p>
					<img src="../../static/assets/img/signin-success.PNG" style="width: 20%;" />
				</div>
			</div>
		</div>
    </div>
</div>

{% endif %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
	var counter = 0;

    $(document).ready(function() {
		var username = "";

		// recording

		if ('{{ signinVoice }}') {
			username = '{{ username }}';
		}

		const signinImg = $("#signin-img");

		function sendVoiceToAI(recordedData) {
			url = 'signin-check-voice?username=' + username + "&counter=" + counter;
			fetch(url, {
				method: 'POST',
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'audio/wav'
				},
				body: new Blob(recordedData)
			}).then(response => response.json())
			.then(response => {
				handleUI(response["ok"]);
			});
		}

		function post(path, params, method='POST') {
			const form = document.createElement('form');
			form.method = method;
			form.action = path;

			for (const key in params) {
				if (params.hasOwnProperty(key)) {
					const hiddenField = document.createElement('input');
					hiddenField.type = 'hidden';
					hiddenField.name = key;
					hiddenField.value = params[key];

					form.appendChild(hiddenField);
				}
			}

			document.body.appendChild(form);
			form.submit();
		}

		function handleUI(cond) {
			if (cond) {
				post("signin-done", {
					'username': username
				});
			} else {
				counter++;
				if (counter == 3) {
					post("signin-check-password", {
						'username': username
					});
				} else {
					$("#tryagain-note").text("Voice not recognised, try again!");
					$("#signin-img").attr("src", "../../static/assets/img/signin-tryagain.PNG");
					setTimeout(function() {
						$("#tryagain-note").text("");
						$("#signin-img").attr("src", "../../static/assets/img/mic.PNG");
					}, 2000);
				}
			}
		}

		const handleSuccess = function (stream) {
			const options = {MimeType: 'audio/webm'};
			var recordedChunks = [];
			const mediaRecorder = new MediaRecorder(stream, options);

			mediaRecorder.addEventListener('dataavailable', function(e) {
				if (e.data.size > 0) recordedChunks.push(e.data);
			});

			mediaRecorder.addEventListener('stop', function() {
				sendVoiceToAI(recordedChunks);
			});

			signinImg.click(function() {
				recordedChunks = [];
				mediaRecorder.start();
				let start_time = new Date().getTime();
				setTimeout(function() {
					mediaRecorder.stop();
				}, 3000);
			})
		};
		navigator.mediaDevices.getUserMedia({audio: true, video: false}).then(handleSuccess);
    });
</script>

{% endblock javascripts %}
